* {
  margin: 0;
  box-sizing: border-box;
}
body {
  /* background-color: antiquewhite; */
}

/* navbar */
#header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
p {
  color: white;
  padding: 8px;
  margin-right: 10px;
}
ul {
  display: flex;
  justify-content: space-around;
}
li {
  padding: 8px;
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: white;
}
.bottom-left {
  position: absolute;
  bottom: 320px;
  left: 30px;
}

/* landing page */

#flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-text {
  width: 90%;
  height: 300px;
  /* background-color: lightcyan;
  border: 2px solid black; */
  margin: 10px;
}

.banner-img {
  width: 90%;
  height: 500px;
  /* background-color: lightcyan;
    border: 2px solid black; */
  margin: 10px;
}
.banner-img img {
  width: 100%;
  height: 500px;
  border-radius: 20px;
}




/* products */
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item {
  width: 90%;
  height: 500px;
  margin: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /* border: 1px solid rgba(0, 0, 0, 0.13); */
  /* background-color: lightgreen; */
  /* box-shadow: 2px 2px 2px 2px #29292962; */
}
#container .item img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#container .item p {
  color: black;
  /* border: 1px solid black; */
  background-color: #e6e6e6;
  width: 100%;
  height: 10%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#container .item p:hover{
    color: red;
    font-size: 20px;
    font-weight: 900;
}



/* more products */
#mcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mproducts {
    width: 90%;
    height: 500px;
    margin: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* border: 1px solid rgba(0, 0, 0, 0.13); */
    /* background-color: lightgreen; */
    /* box-shadow: 2px 2px 2px 2px #29292962; */
  }
  #mcontainer .mproducts img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  #mcontainer .mproducts p {
    color: black;
    /* border: 1px solid black; */
    background-color: #e6e6e6;
    width: 100%;
    height: 10%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  #mcontainer .mproducts p:hover{
    color: red;
    font-size: 20px;
    font-weight: 900;
}

/* sale products */
#sale {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8%;
    background-color: bisque;
  }
  .salet{
      width: 50%;
  }
  .salep {
    width: 50%;
    height: 400px;
    /* background-color: red; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* border: 1px solid rgba(0, 0, 0, 0.13); */
    /* background-color: lightgreen; */
    /* box-shadow: 2px 2px 2px 2px #29292962; */
  }
  #sale .salep img {
      width: 90%;
      height: 300px;
      margin: 10px;
      margin-top: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  #sale .salet p {
    color: black;
    /* border: 1px solid black; */
    /* background-color: #e6e6e6; */
    width: 100%;
    height: 10%;
    font-size: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  #sale .salet p span{
    color: red; 
    font-weight: 900;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

/* Dev */
#dev{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-top: 8%;
    /* background-color: bisque; */
}
.devp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 300px;
    border-radius: 20px;
    margin: 10px;
    /* margin: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    /* border: 1px solid rgba(0, 0, 0, 0.13); */
    background-color: rgb(245, 219, 140);
    /* box-shadow: 2px 2px 2px 2px #29292962; */
  }
  #dev .devp img {
      display: block;
      width: 50%;
      height:150px;
      margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  #dev .devp p {
    color: black;
    /* border: 1px solid black; */
    /* background-color: #e6e6e6; */
    width: 100%;
    height: 200px;
    margin: 12px 0px 0px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
  }
  .devp:hover{
    background-color: rgb(229, 238, 144);
    transform: scale(1.03);
    
}





/* footer */
.footer{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 8%;
}













@media only screen and (min-width: 650px) {
  #container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .banner-text {
    width: 90%;
    height: 300px;
    /* background-color: lightcyan;
    border: 2px solid black; */
    margin: 10px;
  }

  .banner-img {
    width: 90%;
    height: 900px;
    /* background-color: lightcyan;
      border: 2px solid black; */
    margin: 10px;
  }
  .banner-img img {
    width: 95%;
    height: 900px;
    border-radius: 20px;
  }
  #mcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .mproducts {
    width: 30%;
    height: 500px;
    margin: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* border: 1px solid rgba(0, 0, 0, 0.13); */
    /* background-color: lightgreen; */
    /* box-shadow: 2px 2px 2px 2px #29292962; */
  }
  #sale {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2%;
    background-color: bisque;
  }
  #sale .salep img {
    width: 70%;
    height: 500px;
    padding: 40px;
    margin: 10px;
    margin-top: 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.salep {
    width: 50%;
    height: 600px;
    /* background-color: red; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* border: 1px solid rgba(0, 0, 0, 0.13); */
    /* background-color: lightgreen; */
    /* box-shadow: 2px 2px 2px 2px #29292962; */
  }
  #sale .salet p {
    color: black;
    /* border: 1px solid black; */
    /* background-color: #e6e6e6; */
    width: 100%;
    height: 10%;
    font-size: 80px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  #sale .salet p span{
    color: red; 
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;
    }
  #sale .salet p span:hover{
      color: gray;
  }

  #dev{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    margin-top: 8%;
    /* background-color: bisque; */
}
.devp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 500px;
    border-radius: 20px;
    margin: 10px;
    /* margin: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    /* border: 1px solid rgba(0, 0, 0, 0.13); */
    background-color: rgb(245, 219, 140);
    /* box-shadow: 2px 2px 2px 2px #29292962; */
  }
  #dev .devp img {
    display: block;
    width: 50%;
    height:200px;
    margin-top: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#dev .devp p {
  color: black;
  /* border: 1px solid black; */
  /* background-color: #e6e6e6; */
  width: 100%;
  height: 200px;
  margin: 20px 0px 0px 0px;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
}
.devp:hover{
    background-color: lightgreen;
    transform: scale(1.03);
}


 
}
